# Set

In [15]:
# Set Creation

In [16]:
myset={1,2,3,4,5} #Set of Numbers
myset

{1, 2, 3, 4, 5}

In [17]:
len(myset)   #Length of the set

5

In [18]:
my_set={1,1,2,2,3,3,4,5,5}  #Duplicate elements are not allowed
my_set

{1, 2, 3, 4, 5}

In [19]:
my_set1={1,70,2.08,3.99,5.65,6.89}  #Set of float numbers
my_set1

{1, 2.08, 3.99, 5.65, 6.89, 70}

In [20]:
my_set2={'arif','john','Tyrion'}   #Set of strings
my_set2

{'Tyrion', 'arif', 'john'}

In [21]:
myset3={10,20,"hello",(11,22,33)}   #Mixed datatypes
myset3

{(11, 22, 33), 10, 20, 'hello'}

In [22]:
myset3={10,20,"hello",[11,22,33]}  #set doesn't sllow mutable items like
myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4=set()   #Create an empty set
print(type(myset4))

In [ ]:
my_set1=set(('one','two','three','four'))
my_set1

# Loop through a set

In [ ]:
myset={'one','two','three','four','five','six','seven','eight'}
for i in myset:
    print(i)

In [ ]:
for i in enumerate(myset):
    print(i)

In [ ]:
# SET MEMBERSHIP

In [23]:
myset

{1, 2, 3, 4, 5}

In [24]:
'one' in myset  #Check if 'one' exist in the set

False

In [25]:
'ten' in myset  #Check if 'ten' exist in the set

False

In [26]:
if 'three' in myset: #Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is not present in the set

In [27]:
if 'elevan' in myset:
    print('elevan is present in the set')
else:
    print('elevan is not present in the set')

elevan is not present in the set

In [28]:
# Add& Remove items

In [29]:
myset

{1, 2, 3, 4, 5}

In [30]:
myset.add('NINE')  #Add item to a set using add() method

In [31]:
myset.update(['TEN','ELEVAN','TWELVE'])  #Add the multiple item ti a set using update
myset

{1, 2, 3, 4, 5, 'ELEVAN', 'NINE', 'TEN', 'TWELVE'}

In [32]:
myset.remove('two')   #remove item in a set using remove() method
myset

KeyError: 'two'

In [ ]:
myset.discard('TEN')     #remove item from a set using discard() method
myset

In [33]:
myset.clear()  #Delete all items in a  set
myset

set()

In [34]:
def myset #Delete the set object
myset

SyntaxError: expected '(' (4201514006.py, line 1)

# Copy Set

In [36]:
myset={'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [37]:
myset1=myset  #Create a new Refernce "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [38]:
id(myset1),id(myset)   #The address of both myset & myset1 will be the same

(1802247835424, 1802247835424)

In [39]:
my_set=myset.copy()   #Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [40]:
id(my_set)  #The address of my_set will be different from myset because of my_set1

1802247836992

In [41]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [42]:
myset1  #myset1 will be also impacted as it is pointing to the same set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
my_set  #copy of the set wan't be impacted due to changes made on the original s

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set operation

# 1.Union(|)

In [46]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [47]:
a|b #Union of a and b (All elements from both sets.NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
a.union(b)  #Union of a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
a.union(b,c)   #Union of A,B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
"""
updates the set calling the update() method with union of A,B and C.
for below example set a will ve updated with union of A,B & C.
"""
a.update(b,c)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# 2.Intersection

In [52]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [53]:
A&B

{4, 5}

In [54]:
A.intersection(B) # Intersection of A and B

{4, 5}

In [55]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A Will be updated with the intersection of A&B.
"""
A.intersection_update(B)
A

{4, 5}

# 3.Differnce  (-)

In [57]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [58]:
A-B  #set of elements that are only A but not in B

{1, 2, 3}

In [59]:
A.difference(B)   #Differnce of sets

{1, 2, 3}

In [60]:
B-A  #set of elements that are only in B but not in A

{6, 7, 8}

In [61]:
B.difference(A)

{6, 7, 8}

In [62]:
"""


Updates the set calling the difference_update() method with the difference of
For below example Set B Will be updated with the differnce of B&A.
"""
B.difference_update(A)
B

{6, 7, 8}

# 4.Symmetric Diffference  (^)

In [64]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [65]:
A^B  #Symmetric differnce(Set of elements in A and B but not in both,"EXECUTE")

{1, 2, 3, 6, 7, 8}

In [66]:
A.symmetric_difference(B)  #Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [68]:
"""
Updates the set calling the symmetric_differnce_update() method with the symmetric of
For below example Set A Will be updated with the difference of A&B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5}

# 5.Subset,Superset& Disjoint

In [75]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30}

In [76]:
B.issubset(A)  #Set B os said to be the subet of set A if all elements of B are

True

In [77]:
A.issuperset(B)  #Set A is said to be the superset of set B if all elements of B

True

In [78]:
C.isdisjoint(A) #Two sets are said to be disjoint sets if they have no common e

True

In [79]:
B.isdisjoint(A)  #Two sets are said to be disjoint sets if they have no common e

False

# Other Build in Function

In [81]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [82]:
sum(A)

45

In [83]:
max(A)

9

In [84]:
min(A)

1

In [85]:
len(A)

9

In [86]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [89]:
D=sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [90]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Create Dictionary

In [92]:
mydict=dict()  #empty dict
mydict

{}

In [93]:
mydict={}  #empty dict
mydict

{}

In [94]:
mydict={1:'one',2:'Two',3:'Three'}  #dict with integer keys

{1: 'one', 2: 'Two', 3: 'Three'}

In [96]:
my_dict={'one':1,'Two':2,'Three':3}  #Create dict using dict()
my_dict

{'one': 1, 'Two': 2, 'Three': 3}

In [97]:
mydict1={'A':'one','B':'Two','C':'Three'}  #dict with chracter keys
mydict1

{'A': 'one', 'B': 'Two', 'C': 'Three'}

In [98]:
mydict={1:'one','A':'Two',3:'three'}  #Dict with mixed keys
mydict

{1: 'one', 'A': 'Two', 3: 'three'}

In [100]:
mydict.keys()  #Return dict keys using keys() method

dict_keys([1, 'A', 3])

In [101]:
mydict.values()  #Return dict values using values() method

dict_values(['one', 'Two', 'three'])

In [103]:
mydict.items() #Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'Two'), (3, 'three')])

In [104]:
mydict={1:'one',2:'Two','A':['aid','john','maria']}  #dictionary with mixed data types
mydict

{1: 'one', 2: 'Two', 'A': ['aid', 'john', 'maria']}

In [107]:
mydict={1:'one',2:'two','A':{'Name':'asif','Age':20},'B':('bat','cat')}
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': ('bat', 'cat')}

In [109]:
keys={'a','b','c','d'}
mydict3=dict.fromkeys(keys)  #Create a dict from a sequence of keys
mydict3

{'a': None, 'b': None, 'c': None, 'd': None}

In [110]:
keys={'a','b','c','d'}
value=10
mydict3=dict.fromkeys(keys,value)  #Create a dict from a sequence of keys
mydict3

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [2]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict3=dict.fromkeys(keys,value)  #Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [3]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# Accessibg items

In [7]:
mydict={1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [8]:
mydict[1]  #Access item using key

'one'

In [9]:
mydict.get(1)   #Accessing item using get() method

'one'

In [10]:
mydict1={'Name':'Asif','ID':452,'DOB':1991,'job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 452, 'DOB': 1991, 'job': 'Analyst'}

In [11]:
mydict1['Name']  #Access item using key

'Asif'

In [12]:
mydict1.get('job')  #Access item using get() method

'Analyst'

# Add,Remove & Change Items

In [14]:
mydict1={'Name':'Asif','ID':123,'DOB':1991,'Address':'hyderbad'}
mydict1

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'hyderbad'}

In [15]:
mydict1['DOB']=1992  #Changing the dict Items
mydict1['Address']='Delhi'
mydict1

{'Name': 'Asif', 'ID': 123, 'DOB': 1992, 'Address': 'Delhi'}

In [16]:
dict1={'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 123, 'DOB': 1995, 'Address': 'Delhi'}

In [21]:
mydict['job']='Analyst'  #Adding items in the dictionary
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 'job': 'Analyst'}

In [27]:
mydict1.pop('Name')  #Removing items in the dict using pop method
mydict1

{'ID': 123, 'DOB': 1995, 'Address': 'Delhi'}

In [28]:
mydict1.popitem()  #A random item is removed

('Address', 'Delhi')

In [29]:
mydict1

{'ID': 123, 'DOB': 1995}

In [34]:
del[mydict1['ID']]  #Removing item using del method
mydict1

{'DOB': 1995}

In [35]:
mydict1.clear()   #Delete all items of the dict using clear method
mydict1

{}

In [36]:
del mydict1  #Delete the dict object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [38]:
mydict={'Name':'Asif','ID':123,'DOB':1991,'Address':'hyderbad'}
mydict

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'hyderbad'}

In [41]:
mydict1=mydict  #Create a new refernce "mydict"

In [42]:
id(mydict),id(mydict1)  #The address of both mydict & mydict1 will be the same

(2209559984768, 2209559984768)

In [43]:
mydict2=mydict.copy()  #Create a copy of the dict

In [45]:
id(mydict2)  #The address of mydict2 will be different from mydict beacuse mydict

2209559980736

In [46]:
mydict['Address']='Mumbai'

In [47]:
mydict

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'Mumbai'}

In [48]:
mydict1  #mydict1 will be also impacted as it is pointing to the same dict

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'Mumbai'}

In [49]:
mydict2  #copy of list wan't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'hyderbad'}

# Loop Through a Dictionary

In [51]:
mydict1={'Name':'Asif','ID':123,'DOB':1991,'Address':'hyderbad'}
mydict1

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'hyderbad'}

In [52]:
for i in mydict1:
    print(i,':',mydict[i])  #Key & value pair

Name : Asif
ID : 123
DOB : 1991
Address : Mumbai

In [53]:
for i in mydict1:
    print(mydict[i])  #Dictionary items

Asif
123
1991
Mumbai

# Dictionary Membership

In [55]:
mydict1={'Name':'Asif','ID':123,'DOB':1991,'Address':'hyderbad'}
mydict1

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'hyderbad'}

In [56]:
'Name' in mydict1  #Test if a key is in a dictionary or not

True

In [57]:
'Asif' in mydict1  #Membership test can be only done for keys

False

In [58]:
'ID' in mydict1

True

In [59]:
'Address' in mydict1

True

# All/Any

In [61]:
mydict1={'Name':'Asif','ID':123,'DOB':1991,'Address':'hyderbad'}
mydict1

{'Name': 'Asif', 'ID': 123, 'DOB': 1991, 'Address': 'hyderbad'}

In [62]:
all(mydict1) #Will return false as one value is false(value0)

True

In [63]:
any(mydict1)

True