# 1- PYTHON INTRODUCTION -  (TASK - 1)
* I hope everybody install Anconda software which i share to you guys right
* Just wanted to know how many of know any programming language
* If you dont know any programming language then you are the best person to learn PYTHON 
* python is very easy language
* what is python? Ans - python is highly recommanded programming language & object oriented language
* Father of python - Guido van Rosam
* Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel 
* Python borrowed all concept from c,c++,java,unix (so python is everything) thats why python very very powerfull tool
* Python developed in NRI - (Netherland) & lot of people say that python is new language
* Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)
*  It has a large and comprehensive standard library.

* Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
* Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
* which companies are used python - google,nasa,uber,netfliz,reddit,facebook/meta, everywhere python used everywhere
* python code can understand everybody & python is dynamic programming language
* In python everything done by PVM (python virtual machine)
* you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to  write separate programe for every platform. Once you write code you can run in platform
* Python is dynamically programming language (not required to declared data types)
* Python is freeware and open source. Moving from one platform to other platform without changeing any code
* Python contains rich libray - numpy,pandas so python is the best application for datascience
* which scenario python can't be used - ( python can not perform in mobile application like android )
* Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application  programme),Anaconda python(Bigdata,datascience)
* Python 1.0 introduce in jan 1994 -- Noorganization is working now
* Python 2.0 introduce in oct 2000 -- Noorganization is working now
* Python 3.0 introduce in Dec 2008, 2016, 2017,2024---- latest version - 3.6, 3.6, 3.7, 3.8, 3.9, 3.10, 3.11

In [1]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [1]:
x = 3
x
#id(x)

3

In [2]:
x = 4
x

4

In [3]:
y = 3
y

3

In [4]:
x, y

(4, 3)

In [5]:
x, y = 3

TypeError: cannot unpack non-iterable int object

In [ ]:
type(x)

In [ ]:
y

In [ ]:
x1 = 4
x1
type(x1)

In [ ]:
x,x1

In [ ]:
y = 3
id(y)

In [ ]:
x1 = 4
id(x1)

In [ ]:
y = False 
type(y)

In [ ]:
x, y

In [6]:
import sys
sys.version

'3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]'

## 2- Getting started with Python Language 
### Python 3.x
#### Version Release Date  --->
3.13 2022-25-08
3.10 2021-10-04
3.9 2020-10-05
3.8 2020-04-29 
3.7 2018-06-27
3.6 2016-12-23
3.5 2015-09-13
3.4 2014-03-17
3.3 2012-09-29
3.2 2011-02-20
3.1 2009-06-26
3.0 2008-12-03
### Python 2.x
##### Version Release Date
2.7 2010-07-03
2.6 2008-10-02
2.5 2006-09-19
2.4 2004-11-30
2.3 2003-07-29
2.2 2001-12-21
2.1 2001-04-15
2.0 2000-10-16

In [ ]:
import sys
sys.version

In [ ]:
a = 5
print(a)

type(a)

In [7]:
a@ = 6
a@

SyntaxError: invalid syntax (385768347.py, line 1)

In [8]:
6 = b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1218098064.py, line 1)

In [ ]:
## Verify if Python is installed
import sys
sys.version

## 3-Creating variables and assigning values
To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.

<variable name> = <value>
    Python uses = to assign values to variables
    There's no need to declare a variable in advance (or to assign a data type to it)
    Assigning a value to a variable itself declares and initializes the variable with that value.
    There's no way to declare a variable without assigning it an initial value.

In [1]:
a = 5
a

5

In [2]:
type(a)

int

In [3]:
b = 5.5
b

5.5

In [4]:
type(b)

float

In [5]:
c = 'hi'
c

'hi'

In [6]:
type(c)

str

In [7]:
x = 2
x 
#/type(x)

2

In [8]:
x@ = 3
x@

SyntaxError: invalid syntax (3028986276.py, line 1)

In [9]:
# Integer
a = 2
type(a)
#a

int

In [10]:
# Integer 
b = 9223372036
print(b)

9223372036

In [ ]:
# Floating point
pi = 3.17
print(pi)

In [ ]:
type(pi)

In [ ]:
# String
c = 'A'
print(c)

In [ ]:
type(c)

In [ ]:
# String 
name = 'John Doe'
print(name)
type(name)

In [ ]:
# Boolean 
q = True
print(q)

In [ ]:
# Empty value or null data type
x = None
print(x)

In [ ]:
#Variable assignment works from left to right. So the following will give you an syntax error.
5 = x

In [ ]:
x = 5
x

In [ ]:
# 7th page continue onwards

### 4-PYTHON ( IDENTIFIER / VARIBALE / OBJECT )  --
* There is a person whose name - Multiple names are to identify person.so finally the   Name which can be used for identification purpose.
* Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)

*'''  
     
* Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do     some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some     rule and keep their child naming ceremony.

*Rules to define Python Identifier & we will check those rules ==

<1 Alphabet (uppercae & lowercase)
 <2> Digits (0-9) # should not stat with digit
  <3> underscore(_)

In [11]:
ABC = 50
ABC

50

In [12]:
abc= 60
abc

60

In [13]:
Abc = 70
ABCD

NameError: name 'ABCD' is not defined

In [14]:
xyz = 20000
xyz

20000

In [15]:
ABCD = 70
ABCD

70

In [16]:
NIT = 15000
nit1

NameError: name 'nit1' is not defined

In [17]:
nIT = 20
nIT

20

In [18]:
montycorps = 78
montcorP

NameError: name 'montcorP' is not defined

In [19]:
cash123 = 10
cash123

10

In [20]:
123cash = 20
123cash

SyntaxError: invalid decimal literal (2794601236.py, line 1)

In [21]:
1A = 5

SyntaxError: invalid decimal literal (113075527.py, line 1)

In [22]:
A1 = 5
A1

5

In [23]:
#x = 10 # x is the variable & 10 is thealue
cash = 10 # Identifier ruls alphabet
#ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
#ca$h
cash

10

In [24]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (1112431759.py, line 1)

In [25]:
ca*h = 20
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3805698226.py, line 1)

In [26]:
CASH = 20
#Cash
CASH

20

In [ ]:
CASH1 = 30
#cash1
CASH1

In [ ]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

In [ ]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
Abcde = 20
#total
type(Abcde)

In [ ]:
new = 30
NEW

In [ ]:
Total5 = 30
#TOTAL
Total5

In [ ]:
def = 4.6
def

In [ ]:
del = 9

In [ ]:
import keyword
keyword.kwlist

In [ ]:
len(keyword.kwlist)

In [27]:
DEF = 4
DEF

4

In [28]:
if = 780
if

SyntaxError: invalid syntax (1979711427.py, line 1)

In [ ]:
IF = 780
IF

In [ ]:
DEF = 5.6
DEF
#def is key work

In [ ]:
def = 7
def

In [ ]:
import keyword
keyword.kwlist

In [ ]:
len(keyword.kwlist)

In [ ]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
#DEF = 20  # def is keyword
for = 50
#DEF
#if
for

In [ ]:
FOR = 58
FOR

In [ ]:
def = 30
def

In [ ]:
if = 30
if

In [ ]:
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfghhhh = 56
#IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
IFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFdfgsdfgsfgsdfgsdfgfdgsfghhhh

In [ ]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

In [29]:
_abc_def_gef  = 20
_abc_def_gef

20

In [ ]:
x_train = 80
x_train

* Q & A for valid / Invalid identifier - 
1>123AMX
2>Amx123
3>ml2ai
4>_abc_def_gef 
5>def
6>else
7>ELSE

* ----- RULES OF PYTHON IDENTIFIER ------
1> A to Z, a to z, 0 - 9
2> Doesnot starts with digit
3> Case sensitive
4> Reserved words or keywords cannot be a identifier
5> Identifier cannot have a lenght limit
6> _ only allowed
7> NO special character is allowed 

* ========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

In [ ]:
print('hello')

In [ ]:
'hello' ##

In [ ]:
import keyword
len(keyword.kwlist)
keyword.kwlist

### PYTHON RESERVED WORDS - 
* if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english) 
* Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
* In any programming language there is a reserved word are there we gonna learn only python Reserved

* python reserved are => (35 RESERVED WORDS) If you learn 35 reserved words then python is complete
* all reserved words have some meaning & functionality 
* Learning python is nothing but learing all this functionality

**35 RESERVED WORDS---
* True, False, None ==> Represent Boolean data types   
* and, or, not, is ==> Represent the operators
* if, else, elif ==> Represent the statement   (# python switch,do..while statament is not available)
* while, for, break, continue, return, in, yield ==> Represent the loop concept
* try, except, finally, raise, assert ==> Represent for functionallity
* import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function

**NOTES --  *35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [ ]:
#a = True # hash is used for comment
a = True
a

In [ ]:
a1 = true
a1

In [ ]:
True = a

In [ ]:
b = None
#b = none
b

In [ ]:
b = none
b

In [ ]:
c = False
#c = false
c

In [ ]:
true + true

In [ ]:
True + True

In [ ]:
True*True

In [ ]:
True / True #(float division )

In [ ]:
True // True

In [ ]:
False/True

In [ ]:
True/False

In [ ]:
pi = 3.14
pi

In [ ]:
pi = 3.17
pi

In [ ]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class
import keyword
keyword.kwlist

In [ ]:
kw = keyword.kwlist
kw

In [ ]:
# write a coding to create index of these keywords --- IMP ---
import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df
# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

In [ ]:
a = 10 
id(a)

In [ ]:
b=10
id(b)

### PYTHON DATA TYPES // (14) - INBUILD DATA TYPES - 
1>int
2>float
3>complex
4>bool
5>str
6>bytes
7>bytearray
DATA STRUCTURE --->
8>range
9>list
10>tuple
11>set
12>frozenset
13>dict
14>None

* python provides some inbuild function like -- <1> print() <2> type() <3> id()

* int,float,complex,boolen is not represent object # Tricky question
* except these 4 everythig object # Tricky question

*NOTE - [**In python all 14 data types are object only]
*Thats why we called as python is object oriented program

#### 'hello world'

In [ ]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
a
#print(a)       # To find the variable 
#print(a)         # To find the value of variable
#type(a) # To find the data type
#id(a)            # To find an address of an object
#type(a)

In [ ]:
id(a)

In [ ]:
b = 10
id(b)

In [ ]:
c = 20
id(c)

In [ ]:
a = 10
b = 10
id(a)

In [ ]:
a = 10
a
id(a)

#### int datatypes - 
* INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES
*int datatype how many ways represent values in 3ways - 

2> Binary form --- (Base-2) -- (0,1)
3> Octal form --- (Base-8) -- (0,7)

In [ ]:
a = 1111
a

In [ ]:
type(a)

In [ ]:
id(a)

In [ ]:
#2.Binary form(Base 2)
#a = 1111   # value is declared
b = 0b1111 # Now pvm convert value to binary value
b
#a

In [ ]:
bin(15)

In [ ]:
b_1 = 0b11
b_1

In [ ]:
bin(b_1)

In [ ]:
b_ = 0b1
b_

In [ ]:
b2 = 0b22
b2

In [ ]:
b1 = 111
b1

In [ ]:
c = 0b111
c

In [ ]:
b3 = 0b2
b3

In [ ]:
True/False

In [ ]:
b = 0b10 # Now pvm convert value to binary value
b

In [ ]:
c = 0b100
c

In [ ]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o11 # Now pvm covert value to octal value
b1
#a

In [ ]:
i = 0b22

In [ ]:
i1 = 0o22
i1

In [ ]:
b2 = 0o27
b2

In [ ]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o100
a
b
c

In [ ]:
c1 = 0O33
c1

In [ ]:
b

In [ ]:
c

In [ ]:
A = 78
type(A)

#### float datatypes - 
*employee sal - 5676.76
*diesel price - 67.25
* These values are not integral value this is called as decimal value
* Floating datatype you cannot declare Binary,Octal & Hexadecimal because  python enterpretur not accept that
* In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in   float datatypes & only letter 'e' can allowed

In [ ]:
b = 67.9
print(b)

In [ ]:
type(b)

In [ ]:
b1 = 0b1.1
b1

In [ ]:
c = 0o11.6
c

In [ ]:
# float datatypes - 
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2) 
#b
d = 0o4567.67 # This is octal
#e = 0o456789 # This is binary
d
#e
#b

In [ ]:
f1 = 1e4
f1
type(f1)

In [ ]:
f = 1e3
f

In [ ]:
#f = 1e4# only 'e' letter is allowed
g = 2.4E3 # except 'E' you can't execute any programme
g
#f
#type(g)

In [ ]:
g1 = 23e3
g1

In [ ]:
e = 5.e3
e
#type(e) 
#type(e)

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [ ]:
x = 30+40j #assigned int value in real part & imaginary part
x

In [ ]:
type(x)

In [ ]:
y = 1+2j #assigned float value in real part & imaginary part
z = 3+2j  #assigned float value in real part & real value in imaginary part
y + z
y-z
y*z
y/z

In [ ]:
y-z

In [ ]:
y*z

In [ ]:
y/z

In [ ]:
c = 15+0b111j # Imaginary part cannot be binary,octal
#d = 0b11+15j # Real part can be binary,octal
c
#d

In [ ]:
c = 1 + 0b10j
c

In [ ]:
d2 = 0b111+15j
d2

In [ ]:
e1 = 4 + 15j
e1

In [ ]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

In [ ]:
a1 * b1

In [ ]:
20*40

In [ ]:
a = 2+3j
type(a)

In [ ]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

In [ ]:
a1.real

In [ ]:
help()

In [ ]:
com = 10 + 15j
type(com)

In [ ]:
com.real

In [ ]:
com.imag

#### bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [ ]:
a = 10
b = 20
c = a>b
c

In [ ]:
type(c)
#type(a)

In [ ]:
True+True
True*True
True-True
True/True
True//True
False+False
False+True
True/False

In [ ]:
True/True

In [ ]:
True/False # error

In [ ]:
pi = 3.14
pi
type(pi)

In [ ]:
pi = 3.17
pi

#### str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')
* single & double quotes are allowed only for single line
* triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [ ]:
ABC = '''good for datascience'''
ABC

In [ ]:
type(ABC)

In [ ]:
DEF = '''good for datascience'''
#type(careerera)#' single quotes'
DEF
type(DEF)

In [ ]:
w = '''good
             for datascience'''
#type(careerera)#' single quotes'
w
#type(naresh)

In [ ]:
ts = '''The most common cause of the Python SyntaxError: 
    EOL while scanning string literal is due to missing quotes at the end of a string. 
    This refers to a string being opened by using either 
    ' , " , or """ and not closing the string properly.'''

In [ ]:
ts

In [ ]:
y = '''good for datascience'''
#type(careerera)#' single quotes'
y
#type(naresh)

In [ ]:
y = '''good for 
 datascience'''
#type(naresh1
y

In [ ]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

In [ ]:
b = '''hello 
    hi'''
b

In [ ]:
# single quote & double both are equl
# ''' multiline comment'''

In [ ]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

In [ ]:
x, y, z, m, n = 10, True, 10.9, 1 + 10j, 'hi'

In [ ]:
type(n)

In [ ]:
type(m)

In [ ]:
y

In [ ]:
z

#### Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [ ]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
#int('ten') # amx is a character

In [ ]:
# float(): -- convert from any type to float except complex
float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

In [ ]:
float(10,20)

In [ ]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------
complex(10)     # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
complex('10')    # string to complex, you cannot assign 2 argument

In [ ]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(-10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+1j)   # complex to bool
bool(" ")      # string to bool(if argument is empty string then false)
bool('abc')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

In [ ]:
bool(-10)

In [ ]:
bool(0+1j)

In [ ]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

* Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other - 
- We cannot convert our complex data types to int and float
 
 int()
 float()
 complex()
 bool()
 str()

-------------

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [ ]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

* Mutable -- Changeable-- once you create an object 
* Immutable -- Non-changeable
* Fundamental data types are IMMUTABLE but (LIST is mutable)
* Everything in python is an object

**This concept reusing same object such type of concept is define following ranges -
1> int ----> 0 to 256
2> bool ---> Always 
3> str ----> Always
4> float & complex ----> Can not performe the reusable concept

In [ ]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

In [ ]:
id(y)

In [ ]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

In [ ]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

## ------ END OF THE TODAYS SESSION ----- ##

-------

### PYTHON DATA STRUCTURE ( TASK - 2)

* LIST DATASTRUCTURE - 

* Insertation order is preserved & duplicates are allowed
* if you want to represent group of values as a singel entity where insertation   order is preserved and duplicates are allowed   then we can go for LIST datatype
* what is the meaning of insertaion order is preserved
* you can increase the least object or you can decrease the list object 
* list you can use index operator and also slice operator

In [ ]:
l = [] 
type(l) 
#print(type(l))

In [ ]:
l

In [ ]:
#Now i want to add an object
l.append(10) 
l.append(20)
l.append(30)
l.append(10)

In [ ]:
l

In [ ]:
l.add(50)

In [ ]:
l

In [ ]:
print(l)

In [ ]:
#hetrogenrous objects are allowed or not
#java people came and asking null is availabe or not, such type of stories are not available
# list objects are growable & this is just an introduction session & we will see indetails
l.append('amx') 
l.append(8.0)
l.append(None)
l.append(1+2j)
l.append(True)

In [ ]:
l

In [ ]:
l.remove('amx') #delete the object from list

In [ ]:
l

In [ ]:
l[-4]

In [ ]:
l[-7]

In [ ]:
l

In [ ]:
l[4]

In [ ]:
l

In [ ]:
l[6]

In [ ]:
l[7]

In [ ]:
l

In [ ]:
l[12]

In [ ]:
l

In [ ]:
l[5]

In [ ]:
l[3]

In [ ]:
l

In [ ]:
l[8]

In [ ]:
l

In [ ]:
l[-1]

In [ ]:
l[-2]

In [ ]:
l

In [ ]:
# Let me introduce to slicing operator
l[:]

In [ ]:
l[2:4] # n-1 formula

In [ ]:
l

In [ ]:
l[0:8] # print the element value from 2nd index to 6th index

In [ ]:
l[14]

In [ ]:
l

In [ ]:
l[3:5]

In [ ]:
l

In [ ]:
l[2:4]

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[1]

In [ ]:
l[0] = 100

In [ ]:
l

In [ ]:
l[1] = 'NIT'

In [ ]:
l[:]

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[0] = 1000

In [ ]:
l

In [ ]:
l[1] = 'AMX'

In [ ]:
l[-2] = 'monty'

In [ ]:
l

In [ ]:
l[:]

In [ ]:
l[2]

In [ ]:
l[2:5] # THEN N-1 FORMULA

In [ ]:
l

In [ ]:
l[4]

In [ ]:
l

In [ ]:
l[4:] # print the elemnt from 4th index

In [ ]:
l

In [ ]:
l[:4]

In [ ]:
l

In [ ]:
l[2]

In [ ]:
l[2] = 'hi'
l

In [ ]:
l # list is mutable

In [ ]:
l[2:-2]

In [ ]:
l

In [ ]:
l[0:-1]

In [ ]:
l[:]

In [ ]:
l

In [ ]:
l[1] # : --> (SLICING OPERATOR)

In [ ]:
l[:] #display all the value from  2nd index onwards

In [ ]:
l[-1] # output is none hear

In [ ]:
int(True)

In [ ]:
l[-2]

In [ ]:
l

In [ ]:
l[:] # : --> this will give us total values which we passed in the object

In [ ]:
l

In [ ]:
l.pop(6)

In [ ]:
l

In [ ]:
del l[-2]

In [ ]:
l

In [ ]:
l[:-1]

In [ ]:
l

In [ ]:
l[:-2]

In [ ]:
a, b, c = [1, 'nit', [1,2,3]]

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
a1, b1, c1 = [1, 'nit', [1,2,3]]

In [ ]:
a1

In [ ]:
b1

In [ ]:
l2 = [a1,b1,c1]

In [ ]:
l2

In [ ]:
l

In [ ]:
l[::-1] # reverse order

In [ ]:
l

In [ ]:
l[::-2]

In [ ]:
l

In [ ]:
l[::-3]

In [ ]:
l

In [ ]:
l[::-1]

In [ ]:
l

In [ ]:
l[:-2]

In [ ]:
l

In [ ]:
l[-4:]

In [ ]:
l

In [ ]:
l.remove(8.0) 
l

In [ ]:
#l.remove('amxwam')

In [ ]:
l

In [ ]:
l.remove('7')
l

In [ ]:
l[-1]

In [ ]:
l

In [ ]:
l[:-3]

In [ ]:
l

In [ ]:
l[2]

In [ ]:
l

In [ ]:
l[:-1]

* Finaly Summary of LIST DATATYPES -- 
1> order is important
2> duplicates are allowed
3> heterogenous are allowed i.e. different type is allowed
4> growable in nature & you can deleat or insert an object in the list
5> list is datastructure
6> values are enclose in square bracket[]
7> List is mutable
8> index concept applicated in list datatypes +ve- left to right,// -ve- right to left
9> slicin concept is also available

**so far we covered fundamental datatypes - int , float, comlex, str, bool
** we do covered type casting function , how to convert from one type to other
**we covered one datastructured called list

#### tuple concept 
* Tuple is immutable & List is mutable
* Tuple can be represent as ()
* once we create tuple we cannot modify 
* order & duplicates are allowed
* heterogenous are allowed i.e. different type is allowed
* index concept applicated in list datatypes +ve- left to right,// -ve- right 
* slicin concept is also available

In [ ]:
l = [10,20,30,40] #list datastructure
t = (10,20,30,40) #tuple datastructure

In [ ]:
type(l)

In [ ]:
type(t)

In [ ]:
l

In [ ]:
t
#type(t)

In [ ]:
l[:]

In [ ]:
t[:]

In [ ]:
t1 = (10,'amx',True, 5.8, 10)
t1

In [ ]:
t1[0]

In [ ]:
t1[0] = 100

In [ ]:
icici = (1234, 'abc34r',37, 200000)
type(icici)

In [ ]:
icici[1234] = 2345

In [ ]:
icici.append(45)

In [ ]:
icici

In [ ]:
icici.remove(1234)

In [ ]:
len(icici)

In [ ]:
len(t1)

In [ ]:
t1

In [ ]:
t1[0]

In [ ]:
type(t1)

In [ ]:
t1

In [ ]:
t1[0] = 20 # tuple is immutable

In [ ]:
t1

In [ ]:
t1[1] = 20 # tuple immutable ( not changable) e.g - kyc / adhar

In [ ]:
t1

In [ ]:
t1[0:3]  # [[ IF YOU RIGHT SIDE THE CALCULATION WILL (Nth INDEX-1) (3-1) == UPTO 2ND INDEX ]]

In [ ]:
t1

In [ ]:
t1[0:4]

In [ ]:
t1

In [ ]:
t

In [ ]:
t[0] # Oth index

In [ ]:
l #difference between list and tuple

In [ ]:
l.append(50)

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[0] = 30 #mutable (change)

In [ ]:
l

In [ ]:
l.append(60)

In [ ]:
l

In [ ]:
l[:10]

In [ ]:
l[10:]

In [ ]:
l
type(l)

In [ ]:
l

In [ ]:
l[:-3]

In [ ]:
l

In [ ]:
l[2:]

In [ ]:
l

In [ ]:
l[:2]

In [ ]:
t

In [ ]:
t[0]

In [ ]:
t[0]= 20 
# cannot change any value once you decleare cuz tuple is immutable

In [ ]:
t1

In [ ]:
t

In [ ]:
t.append(50)

In [ ]:
t.add(50)

In [ ]:
t

In [ ]:
t.remove(30)

In [ ]:
t

In [ ]:
t = t*3
t

In [ ]:
t[0] = 20

In [ ]:
t1

In [ ]:
t2 = t1 * 2 #in this case content has not changed but same t content repeted twice

In [ ]:
t2

In [ ]:
t3 = (10,20,(2,6))   #is this valid one & u can declare list inside the tuple

In [ ]:
t3
type(t3)

In [ ]:
colors = "red", "green", "blue"
colors

In [ ]:
colors = "red", "green", "blue"
colors
rev = colors[::-1] 
rev

In [ ]:
rev = colors[:-1]
rev

In [ ]:
rev

In [ ]:
colors

In [ ]:
rev1 = colors[::-2]
rev1

In [ ]:
colors = "red", "green", "blue"
colors
rev = colors[:-1] 
rev

In [ ]:
colors = "red", "green", "blue"
colors
rev = colors[:-2] 
rev

In [ ]:
colors

In [ ]:
colors[-1]

In [ ]:
colors

In [ ]:
rev = colors[::-1] # reversing order is allowed
rev

In [ ]:
colors

In [ ]:
rev = colors[::-1]
rev

In [ ]:
type(colors)

In [ ]:
rev1 = colors[:-1]
rev1

In [ ]:
rev = colors[::-1] # reversing order is allowed
rev

In [ ]:
colors

In [ ]:
rev2 = colors[::-2] # reversing order is allowed
rev2

* in python which is the most common data structure - range()
* range() datatypes represent a sequence of values
* always immutable
* range() datatypes we have multiple forms lets see one by one
* List insertation order is preserved but set insertation is not preserved

In [ ]:
r = range(5) # 1 arguement
r

In [ ]:
r1 = range(10)
r1

In [ ]:
range(10,20)

In [ ]:
r2 = list(range(10)) # we declare 1 argument 
r2
r_ = list(range(3))
r_

In [ ]:
list(range(5,20))

In [ ]:
list(range(10,100,10))

In [ ]:
list(range(10,100,5))

In [ ]:
list(range(5,20,5,2))

In [ ]:
# FORM-1: range(10) -- represents values from 0 to 9 (python index start from 0)
r = range(10)
#type(r)  
r

In [ ]:
list(r)

In [ ]:
for i in r:
    print('yes')
    print(i)

In [ ]:
r

In [ ]:
range(10.0, 11.5) # you cannot declare float argument

In [ ]:
w1 = range(10,20) 
w1

In [ ]:
for i in w1:    
    print(i)

In [ ]:
r

In [ ]:
r[4]

In [ ]:
r[0]

In [ ]:
r[5]

In [ ]:
r[0:3]

In [ ]:

# FORM-1 concept we passed only one argument

**FORM:2 (if we passed 2 arguments)

In [ ]:
# i want to generate a sequence of no fro 0 to 99

range(100)

In [ ]:
# i want to represent number from 10 to 29 then we should not use above one

range(10,30) # repreent no. from 10 to 29 but not 100 & we passed 2 arguments

**Form:3 (if we passed 3 arguments)

In [ ]:
range(50)

In [ ]:
range(10,50) # 5 state from 10 to 50 print the output with 5 steps

In [ ]:
range(10,50,5) # 5 state from 10 to 50 print the output with 5 steps

In [ ]:
range(10,50,5,6)

In [ ]:
range(10,100,10.56)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(10,20):  
    print(i)

In [ ]:
for i in range(10,100,10):  # start, end , stpe 
    print(i)

In [ ]:
range(10,20,5,6) #you cannot declare 4 aruguments once becusae max you can assign for 3 arguments or 3 parameter

**set datatype**

Difference between list & set --
* My requirment of the programme is -- Represent group of object as single entity where duplicates are allowed and order is important then we go for LIST
* I dont want dupliacated, & order also not important then we will go for SET
* LIST are represent as [] && SET are represent as {}
* SET object does not support indexing or slicing
* insertation order are not preserved,order & duplicates are not allowed
* index concept are not allowed , hetrogeneuous object are allowed
* set is mutable
* add & remove method is use for SET but append method is used only for LIST

In [ ]:
s = {10,20,30,10,20,30} # is it allowed or not we will check

In [ ]:
s #duplicates are not allowed

In [ ]:
type(s)

In [ ]:
s_ = {56,30,75,109 }
s_

In [ ]:
s1 = {30,10,20,10,'abc',5.0,True} 
s1

In [ ]:
s1[0]

In [ ]:
s1[1:4]

In [ ]:
s

In [ ]:
s[:]   #set object does not support indexing or slicing or subscirptive

In [ ]:
s

In [ ]:
s[1:]

In [ ]:
s

In [ ]:
s.append(True)  #mutable
s

In [ ]:
s.add(True)  #mutable
s

In [ ]:
s.add(300)
s

In [ ]:
s.add('b') 
s

In [ ]:
s.add('c')

In [ ]:
s.add('c','d','d')

In [ ]:
s

In [ ]:
s[1]

In [ ]:
s.remove(300) #append function is applicable for list not for the set

In [ ]:
s

In [ ]:
s.add('d') 
s

In [ ]:
s3 = {[10,20,30], 40, True}
s3

In [ ]:
s1

In [ ]:
s[0] = 50

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

In [ ]:
myset.add('nine')

In [ ]:
myset

In [ ]:
for i in enumerate(myset):
    print(i)

In [ ]:
'nine' in myset

In [ ]:
myset.add([10,20])

In [ ]:
printmyset.update([10,20])

In [ ]:
myset.add((30,40,50,50))
myset.update(('ab', 56,[1,2,3]))

In [ ]:
myset

In [ ]:
myset.discard('nine')

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A | B

In [ ]:
A.union(B)

In [ ]:
A.union(C)

In [ ]:
A.union(C)

In [ ]:
A | C | B

In [ ]:
A, B, C

In [ ]:
A & B

In [ ]:
A & C

In [ ]:
B & C

In [ ]:
A.intersection(B)

In [ ]:
A.intersection_updaten(B)

In [ ]:
A

In [ ]:
B

In [ ]:
D = {10, 11, 12, 13, 14, 15}
len(D)

In [ ]:
A - B

In [ ]:
len(D)

In [ ]:
A | D

In [ ]:
A & D

In [ ]:
A - D

In [ ]:
C | A

In [ ]:
myset

In [ ]:
myset.discard('eleven')

In [ ]:
myset

In [ ]:
myset.remove('eleven')

In [ ]:
myset1 = myset.copy()

In [ ]:
myset1

In [ ]:
myset

In [ ]:
myset.clear()

In [ ]:
myset

In [ ]:
myset1

In [ ]:
del myset1

In [ ]:
myset1

In [ ]:
s

In [ ]:
s.insert(10,20)

In [ ]:
a = {1,2,3}
b = {4,5,6}
c = { 7,8,9}

In [ ]:
a | b # a union b

In [ ]:
b | c

In [ ]:
a | b | c

In [ ]:
a | c

In [ ]:
d = {'nit', 'hi', 2.3}

In [ ]:
d | a

In [ ]:
a | b

In [ ]:
a.union(b)

In [ ]:
b.union(d)

In [ ]:
a , b, c, d

In [ ]:
a.union(b,c,d)

In [ ]:
b.union(a,d)

In [ ]:
a.update(b,c)
a

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
b.update(c)

In [ ]:
a, b, c, d

In [ ]:
a & b

In [ ]:
a & b & c

In [ ]:
b & c & d

In [ ]:
a - b

In [ ]:
b

In [ ]:
id(b)

In [ ]:
id(a)

In [ ]:
type(s)

In [ ]:
# frozenset exactly same as set but one criteria is immutable

In [9]:
s3 = {10,20,30,40} 
s3.add(70)
s3

{10, 20, 30, 40, 70}

In [10]:
s3.add('hallo')
s3

{10, 20, 30, 40, 70, 'hallo'}

In [11]:
fs = frozenset(s3)
fs

frozenset({10, 20, 30, 40, 70, 'hallo'})

In [12]:
type(fs)

frozenset

In [13]:
fs.add(50) #add, remove such type of concept are not applicable in frozenset
#fs.remove(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [14]:
fs.remove(40)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
fs[1]

In [ ]:
s5 = {}
s5

In [ ]:
type(s5)

In [ ]:
s6 = set()
type(s6)

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for a in myset:
    print(a)

In [ ]:
for i in enumerate(myset):
    print(i)

In [ ]:
myset

In [ ]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

In [ ]:
if 'fifty' in myset:
    print('fift is present')
else:
    print('fifty is absent')

In [ ]:
myset.add('Nine')

In [ ]:
myset

In [ ]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE', 'TWENTY', 'THIRTY']) 
myset

In [ ]:
myset.discard('THIRTY')

In [ ]:
l = [10,20,30]
t = (10,20,30)

In [ ]:
#l.discard(10)
t.discard(10)

In [ ]:
myset.discard('THIRTY','TWENTY','ELEVEN') # YOU CAN NOT DECLEAR MORE THEN 3 ARGUMET IN SET

In [ ]:
myset

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
A | B

In [ ]:
A.union(B)

In [ ]:
A.union(C)

In [ ]:
A.update(B,C)

In [ ]:
A

**DICTIONARY DATATYPES (dict)

* oxford dictionary -- in oxford dictionary words along with meaning is there
* i can say that key:values
* in the case of list,tuple,set,range,set,frozenset we represent individually & all objects are individually object right guys.
* i want to represent as group of object as pair example -- (rollno:name, fruits:price, mobileno:name)
* dict is very important, very special category compare to all category
* duplicate keys are not allowed but values can be duplicate
* dict are represent as {}// : you can assined with given operator
* keys & values both can be hetrogeneous
* No such type of rule that all keys are integer types & values are string type
* keys & values can any type of object

In [ ]:
d = {100:'amx', 200:'shiv', 300:'nar'}
d

In [ ]:
type(d)

In [ ]:
# i want to create an empty dictionary, now tell me is that set or dict ???

d1 = {}  # always treated as dict
print(d1)
type(d1)

In [ ]:
print(type(d1))

In [1]:
# you may ask questiong how to create empty set 
s = set()  
type(s)

set

In [ ]:
d_ = dict()
type(d_)

In [ ]:
print(type(s))

In [ ]:
# i created empty dict

d2 = {} # i want to add some element, so dict is mutable

In [ ]:
d2

In [ ]:
d2.100 = 'hi'

In [ ]:
d2

In [ ]:
d2[100] = 'hi' # this is the metod to add an object in dictinary & no add,remove function are applicable in dict
d2

In [ ]:
d2['hi'] = 100 # this is the metod to add an object in dictinary & no add,remove function are applicable in dict
d2

In [ ]:
d2[200 + 10j] = 'amx'

In [ ]:
d2[300] = 'ABC'

In [ ]:
d2

In [ ]:
d2[250, 350] = 7, 'hi'
d2

In [ ]:
d2[[250, 350]] = 7, 'hi'

In [ ]:
d2[True] = 'yyy'
d2

In [ ]:
d2[8.0] = 56
d2

In [ ]:
d2 # duplicates are not allowed but values are changes

In [ ]:
d2['l'] = [10,20], 34

In [ ]:
d2

In [ ]:
d2[100]

In [ ]:
del d2[100] # how to remove key & values in dict

In [ ]:
del d2[300]

In [ ]:
d2

In [ ]:
a1 = {} 
type(a1)

In [ ]:
math.sqrt(25)

In [ ]:
a2 = dict()
type(a2)

In [ ]:
d2

In [ ]:
d2.keys()

In [ ]:
d2.values()

In [ ]:
d2

In [ ]:
d2.items()

In [ ]:
len(d2.items())

In [ ]:
d2['criket'] = (23, 45, 56, 67, 78, 89)

In [ ]:
d2

In [ ]:
type(d2['criket'])

In [ ]:
d2.get(True)

In [ ]:
d2.keys(True)

In [ ]:
d2

In [ ]:
d2['criket'] = 'ipl'

In [ ]:
d2

In [ ]:
d2.pop('criket')

In [ ]:
d2

In [ ]:
d4 = d2.copy()

In [ ]:
d4

In [ ]:
d2

In [ ]:
d4

In [ ]:
d2 == d4

In [ ]:
print(id(d2))
print(id(d4))

In [ ]:
id(d2), id(d4)

In [ ]:
a = b = c = 30

In [ ]:
a is b

In [ ]:
id(a) is id(b)

------

## Datatypes & Datastructures are completed ##

In [ ]:
a = b = c = d = 10
print(id(a))
print(id(b))
print(id(c))
print(id(d))

In [ ]:
id(c) is id(d)

In [ ]:
a is b

In [ ]:
c is d

# practi from book

In [ ]:
#